/* --- Fonts, colors and animations --- */

@font-face {
    font-family: 'game_of_thronesregular';
    src: url('../fonts/got.woff2') format('woff2'), url('../fonts/got.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes letterspacing {
    0% {
        letter-spacing: 32px;
        opacity: 0;
    }
    50% {
        opacity: 1%;
    }
    100% {
        letter-spacing: 0px;
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 2000px, 0);
    }
    to {
        opacity: 1;
        transform: none;
    }
}


/* --- HTML Elements --- */

* {
    box-sizing: border-box;
}

body {
    background-color: #000;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

div.container {
    position: static;
    overflow: auto;
    background: transparent;
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: 0;
}

h1.title {
    font-family: 'game_of_thronesregular', "Times New Roman", "Times", serif;
    font-size: 48px;
    line-height: 100%;
    padding-top: 50px;
    text-align: center;
    text-shadow: 0 0 10px #f08d15;
    color: #fff9d4;
    animation: letterspacing 3.2s 1;
}

h1.title>span {
    display: inline-block;
    font-size: 16px;
    position: relative;
    top: -16px;
    margin-left: 8px;
}


/* --- Game Area --- */

div#game {
    position: relative;
    visibility: hidden;
    background: rgba(0, 0, 0, .7);
    width: 75vw;
    min-height: 400px;
    margin: 16px auto 0 auto;
    border: 5px solid #404040;
}

div#game.fadeInUp {
    animation: fadeInUp 1s 1;
    visibility: visible;
}

div#game div.status {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

div#game div.status img {
    margin-top: calc(32px * 4);
    height: calc(100vh/4);
}

div#game h1.hint,
div#game h1.word {
    font-family: "Arial", sans-serif;
    font-size: 24px;
    color: white;
    display: block;
    padding: 32px;
    text-align: center;
    width: 64%;
    margin: 32px auto;
}

div#game div#hearts {
    padding: 16px;
    text-align: center;
}

div#game div#hearts .pixelheart {
    display: inline-block;
    width: 32px;
    margin-right: 8px;
}

div#game div#hearts .pixelheart:last-child {
    margin-right: 0px;
}

span.sigil {
    position: absolute;
    width: 5.9027777777777776vw;
    height: 5.9027777777777776vw;
    border-radius: 100%;
    background: darkred;
    background-size: 5.2083333333333336vw;
    background-repeat: no-repeat;
    background-position: center;
}

.sigil.baratheon {
    bottom: -3.4722222222222224vw;
    left: -3.4722222222222224vw;
    background-image: url("../images/sigil-baratheon.png")
}

.sigil.lanister {
    right: -3.4722222222222224vw;
    top: -3.4722222222222224vw;
    background-image: url("../images/sigil-lanister.png")
}

.sigil.stark {
    top: -3.4722222222222224vw;
    left: -3.4722222222222224vw;
    background-image: url("../images/sigil-stark.png")
}

.sigil.targarian {
    bottom: -3.4722222222222224vw;
    right: -3.4722222222222224vw;
    background-image: url("../images/sigil-targarian.png")
}